@model List<Post>
@{
    Post newPost = new Post();
}
<partial name="New" view-data="ViewData" model="newPost"/>
<h2>All Posts</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Content</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var post in Model)
    {
        <tr>
            <td>@post.Content</td>
            <td>@post.Creator.FullName</td>
        </tr>
    }
    </tbody>
</table>