@model List<Post>
@{
    Post newPost = new Post();
}
<partial name="New" view-data="ViewData" model="newPost"/>
<h2>All Posts</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Content</th>
            <th>Author</th>
            <th>Total Votes</th>
            <th>Last to Vote</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var post in Model)
    {
        Vote lastVote = post.Votes.LastOrDefault();
        string lastToVote = (lastVote == null) 
            ? "N/A" 
            : lastVote.Voter.FullName;
        <tr>
            <td>@post.Content</td>
            <td>@post.Creator.FullName</td>
            <td>@post.Votes.Count</td>
            <td>@lastToVote</td>
            <td>
                <a href="/posts/@post.PostId/vote/@true">Upvote</a> |
                <a href="/posts/@post.PostId/vote/@false">Downvote</a>            
            </td>
        </tr>
    }
    </tbody>
</table>